footer {
  background-color: #000;
  font-family: "Montserrat";
  text-align: center;
  padding: 2.5rem 0;
  margin-top: 1rem;
  // position: fixed;
  bottom: 0;
  width: 100%;
}

footer img {
  height: 25px;
}

footer p {
  color: #fff;
}

@media (min-width: 1024px) {
  footer {
    margin-top: 3rem;
    padding: 2.5rem 0 0.5rem 0;
  }
}
