nav {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  margin: 4%;
}

nav img {
  height: 40px;
}

nav div {
  height: fit-content;
  margin: auto 0;
}

nav a {
  text-decoration: none;
  margin-left: 2rem;
  color: #000000;
  font-size: 12px;
}

@media (min-width: 1024px) {
  nav {
    margin: 3% 5%;
  }

  nav a {
    font-size: 16px;
  }
}
