.home-container {
  margin: 0 4%;
  font-family: "Montserrat";
}

@media (min-width: 1024px) {
  .home-container {
    margin: 0 5%;
  }

  .cards-container {
    background-color: #f6f6f6;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    //   margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .home-container {
    margin: 0 10%;
  }
}

@media (min-width: 1800px) {
  .home-container {
    margin: 0 20%;
  }
}
