.card {
  width: 30%;
  position: relative;
  margin: 1.6%;
}

.card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

.card span {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 50%;
  font-weight: 700;
  color: #fff;
}
