.card {
  position: relative;
  margin-bottom: 1rem;
}

.card img {
  width: 100%;
  aspect-ratio: 1.5 / 1;
  object-fit: cover;
  border-radius: 10px;
}

.card span {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 50%;
  font-weight: 700;
  color: #fff;
}

@media (min-width: 1024px) {
  .card {
    width: 30%;
    margin: 1.6%;
  }

  .card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
  }
}
